@import "../../../styles/variables.scss";

.input-wrapper {
  color: $text-color;
  font-size: 15px;
  text-align: start;

  .input-content {
    width: 100%;
    border-radius: 8px;
    display: flex;

    .icon {
      padding: 12px;
      background-color: $primary-color;
      border-radius: 0 8px 8px 0;

      img {
        height: 10px;
      }
    }

    input {
      border: none;
      border-radius: 8px 0 0 8px;
      background-color: $divider-color;
      padding: 12px 0 12px 20px;
      width: 100%;
    }
  }
}
