@import "../../../styles/variables.scss";

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 34px;
}

.botao-esqueceu-senha {
  font-size: 14px;
  text-decoration: underline;
  color: $password-color;
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  margin: auto; /* Remove qualquer margem adicional */
}
