@import "ngx-toastr/toastr";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html,
body {
  height: 900px;
}

@media (max-width: 700px) {
  form {
    flex-direction: column; /* Muda a direção para vertical em telas menores */
  }
}
